# SPDX-License-Identifier: PMPL-1.0-or-later
name: Greetings

on: [pull_request_target, issues]

permissions: read-all

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@0bf83b6a4cabf9de8c72c1e38c84508d3c4fabd3 # v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Message that will be displayed on users' first issue"
        pr-message: "Message that will be displayed on users' first pull request"
